body {
    color: #d3d7de;
    background-color: #4c5566;
    font-family: "Open Sans";
}
a {
    text-decoration: none;
    color: #1b98f8;
}

/* LAYOUT CSS */
#layout {
    padding-left:150px; /* "left col (nav + list)" width */
    position: relative;
}

#nav, {
    position: fixed;
    top: 0;
    bottom: 0;
    overflow: auto;
}

#nav {
    margin-left:-150px;
    width:150px;
    background-color: #3d4452;
    text-align: center;
    min-height: 800px;
}

#nav .brand {
    color:#d3d7de;
    margin:0px;
    padding: 10px 0px;
    font-weight: lighter;
    font-size: 25px;
    line-height: 30px;
}

.nav-inner ul {
    background-color: #4c5566;
}

.nav-inner ul li a { border-top: 1px solid #54666d;
                     border-bottom: 1px solid #485161;
                     color: #a7afbd !important;
                     background-color: #4c5566 !important;
                     padding: 10px 20px;
}
.nav-header {
    background-color: #5c677c;
    padding:10px;
}

/* Vertical Navigation Styles */
#nav .pure-menu {
    background: transparent;
    border: none;
    text-align: left;
}
    #nav .pure-menu a:focus {
        background-color: #7d869b;
    }
    #nav .pure-menu a {
        color: #d3d7de;
        background-color: rgba(0,0,0,0.3);
    }
    #nav .pure-menu-heading {
        border-bottom: none;
        font-size:110%;
        color: rgb(75, 113, 151);
    }

    #nav .nav-menu-button {
        display: none;
    }

    .nav-count {
        color: rgb(75, 113, 151);
    }

/* BREADCRUMBS */
.content-header { background-color:#dde2ee; }
.content-header-breadcrumb { margin:0px;
                             color: #717171;
                             font-size: 13px;
                             padding: 17px; }

/* MATPLOT CSS */
#galleria { height:500px; width:100%; }